<div *ngIf="processando">Processando</div>
<div id="r" style="display:none">
    <p-button icon="pi pi-pencil" label="Voltar" (click)="voltar()"></p-button>
    <p-tabView>
        <p-tabPanel header="Resumo">
            <p-table [autoLayout]="true">
                <ng-template pTemplate="body">
                    <tr>
                        <td>Resultado</td>
                        <td>{{rGeral}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel header="Operações">
            <p-table [value]="resultado" [autoLayout]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th colspan="3">Entrada</th>
                        <th colspan="3">Saída</th>
                        <th>Resultado</th>
                    </tr>
                    <tr>
                        <th>Data Hora</th>
                        <th>Tipo</th>
                        <th>Valor</th>
                        <th>Data Hora</th>
                        <th>Tipo</th>
                        <th>Valor</th>
                        <th>%</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-c let-i="rowIndex">
                    <tr>
                        <td>{{c.entrada?.dataHora}}</td>
                        <td>{{c.entrada?.tipo}}</td>
                        <td>{{c.entrada?.valor}}</td>
                        <td>{{c.saida?.dataHora}}</td>
                        <td>{{c.saida?.tipo}}</td>
                        <td>{{c.saida?.valor}}</td>
                        <td>{{c.percResultado}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
        <p-tabPanel header="Gráfico">
            <div id="chat"></div>
        </p-tabPanel>
        <p-tabPanel header="Gráfico 2">
            <canvas id="tschat"></canvas>
        </p-tabPanel>
        <p-tabPanel header="Dados">
            <p-table [value]="cotacoes" [autoLayout]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Data Hora</th>
                        <th>Abertura</th>
                        <th>Mínimo</th>
                        <th>Máximo</th>
                        <th>Fechamento</th>
                        <th *ngFor="let i of indicadores">{{i.descricao}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-c let-i="rowIndex">
                    <tr>
                        <td>{{c.dataHora}}</td>
                        <td>{{c.open}}</td>
                        <td>{{c.low}}</td>
                        <td>{{c.high}}</td>
                        <td>{{c.close}}</td>
                        <td [ngClass]="c.indicador[0]>c.indicador[1] ? 'alta' : 'baixa'" *ngFor="let i of c.indicador">
                            {{i}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
    </p-tabView>

</div>