<div class="header-tabela">
    <h1>Histórico</h1>
</div>

<p-table [value]="historicos" [autoLayout]="true">
    <ng-template pTemplate="header">
        <tr>
            <th>Exchange</th>
            <th>Símbolo</th>
            <th>Tempo</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-m>
        <tr>
            <td>{{m.exchange.nome}}</td>
            <td>{{m.criptoPar.simbolo}}</td>
            <td>{{m.tempo}}</td>
            <td>
                <p-button icon="pi pi-pencil" label="Backtest" (click)="executarBacktest(m)"></p-button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="Executar backtest" [(visible)]="displayModal" modal="modal" showEffect="fade"
    [style]="{width: '500px', height: '500px'}" [resizable]="true" class="modal">
    <p-dropdown [options]="estrategias" optionLabel="nome" [(ngModel)]="estrategiaSelecionada"></p-dropdown>
    <p-footer>
        <button pButton icon="pi pi-times" (click)="displayModal=false" label="Cancelar"
            class="ui-button-secondary"></button>
        <button pButton icon="pi pi-check" (click)="executar()" label="Executar"></button>
    </p-footer>

</p-dialog>